.contenido{
    overflow: scroll;
}
#btn_agregar_id{
    padding: 5px 5px 5px 5px;
}
.cabecera{
    float: left;
}
h1{
    width: auto;
    margin-left: 70px;
    margin-top: 45px;
}
h3{
    margin-top: 5px;
    width: auto;
    text-align: end;
    margin-right: 20px;
}
.butons{
    text-align: end;
}
button{
    margin-right: 20px;
    background: red;
    color: white;
}
.separacion{
    margin-left: 40px;
    background: turquoise;
}
.txt_btn{
   text-align: end;
}

.title1{
     float: left;
}