.textos{
    text-align: end;
    margin-top: 20px;
}
.title1{
    float: left;
}
.boton_add{
    margin-top: 50px;
    width: 30%;
    height: auto;
}
.contenido{
    overflow: scroll;
}

.cabecera{
    float: left;
}

#btn_add_act{
    padding: 5px 5px 5px 5px;
    text-align: end;
    margin-left: 400px;
}
h1{
    width: auto;
    margin-left: 70px;
    margin-top: 45px;
}
h3{
    margin-top: 5px;
    width: auto;
    text-align: end;
    margin-right: 20px;
}